@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  background: #000 url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}

#setupScreen, #gameScreen, #endScreen {
  display: none;
  text-align: center;
  padding: 20px;
}

#setupScreen.active, #gameScreen.active, #endScreen.active {
  display: block;
}

#setupContainer {
  background: rgba(0,0,0,0.7);
  border: 3px solid #fff;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#midiSelect, #keySelect {
  padding: 10px;
  font-size: 12px;
  margin: 10px;
  font-family: 'Press Start 2P', cursive;
  background: #222;
  color: #fff;
  border: 2px solid #fff;
}

#showNotesCheckbox, #showFunctionsCheckbox {
  transform: scale(1.5);
  margin-top: 17px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.modeRadio {
    margin-top: 10px;
    margin-bottom: 10px;
}

#startButton, #restartButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px auto;
  display: inline-block;
  background: #444;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
}

#gameArea {
  position: relative;
  min-width: 70vw;
  height: 80vh;
  overflow: hidden;
  background: url('images/gameArea-bg.jpg') no-repeat center center;
  background-size: cover;
  margin: 0 auto;
  box-sizing: border-box;
}

.chordCircle {
  position: absolute;
  width: 110px;
  height: 110px;
  background: radial-gradient(circle, #ffd700, #ff8c00);
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  color: #000;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.8;
}

#scoreDisplay, #livesDisplay {
  font-size: 20px;
  margin: 10px;
  display: inline-block;
  padding: 5px 10px;
  background: rgba(0,0,0,0.5);
  border: 2px solid #fff;
  border-radius: 5px;
}

#endScreen h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}

#finalScore {
  font-size: 20px;
  margin-bottom: 20px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
  visibility: hidden; 
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.popup-overlay.active {
  visibility: visible;
  opacity: 1;
}

.popup-content {
  background-color: #fff;
  color: #000;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: 'arial', sans-serif;
  line-height: 1.5;
}

#popupText {
    margin-bottom: 20px;
    text-align: left;
}

.button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
}

#closePopupButton:hover {
  background-color: #666;
}
